.mySwiper {
    /* margin: 20px 0; */
    width: 45%;
}


img {
    max-width: 95%;
    background-size:cover;
    margin: 5px;
} 

/* @media only screen and (max-width: 440px) {
    .mySwiper {
        width: 100vw;
       
    }
} */